services:
  # db:
  #   image: postgis/postgis:17-master
  #   volumes:
  #     - db_data:/var/lib/postgresql/data
  #   env_file:
  #     - .env
  #   networks:
  #     - avicable_net

  backend:
    image: ghcr.io/lpoaura/avicable-backend:latest
    volumes:
      - backend_media:/app/uploads
      - backend_static:/app/static
    networks:
      - avicable_net
    # depends_on:
    #   db:
    #     condition: service_healthy


  frontend:
    image: ghcr.io/lpoaura/avicable-frontend:latest
    volumes:
      - backend_static:/usr/share/nginx/html/static
    networks:
      - front
      - avicable_net

  proxy:
    image: nginx:1-alpine
    ports:
      - 80:80
    volumes:
      - backend_static:/usr/share/nginx/html/static
    networks:
      - front
      - avicable_net

volumes:
  backend_static:
  backend_media:
  db_data:

networks:
  front:
    external: true
  avicable_net:
    driver: bridge
