name: Docker Publish

on:
  push:
    branches:
      - dev  # Change this to your default branch if it's not 'main'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v2
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/avicable-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v2
        env:
          NUXT_PUBLIC_API_BASE: https://cables.dev.lpo-aura.org
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/avicable-frontend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v2
        with:
          context: ./docker/nginx
          file: ./docker/nginx/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/avicable-proxy:latest
